TELEGRAM_TOKEN=
YOOKASSA_TOKEN=

POSTGRES_HOST=localhost
POSTGRES_PORT_CONTAINER=5432
POSTGRES_PORT_HOST=<choose random port for security>
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DATABASE=pizza_bot

REDIS_URL=redis://redis:6379/0
REDIS_PORT_CONTAINER=6379
REDIS_PORT_HOST=6379
